Source: trevisiol-base
Section: metapackages
Priority: optional
Maintainer: Marco Trevisiol <marco@trevisiol.casa>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2

Package: trevisiol-base
Architecture: all
Depends: ${misc:Depends},
 debian-archive-keyring,
 procps,
 less,
 vim-tiny,
 bash-completion,
 file,
 iputils-ping,
 locales,
 mtr-tiny,
 stow,
 sensible-utils,
 htop,
 manpages,
 man-db,
Description: base configuration for all of my debian machines
 This package install basic packages always needed on my machines.

