Source: my-deb
Section: metapackages
Priority: optional
Maintainer: Marco Trevisiol <marco@trevisiol.casa>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2

Package: my-deb-base
Architecture: all
Depends: ${misc:Depends},
 debian-archive-keyring,
 less,
 bash-completion,
 file,
 iputils-ping,
 locales,
 mtr-tiny,
 stow,
 htop
Description: Base configuration for all of my debian machines
 This package install basic packages always needed on my machines.

Package: my-deb-dev
Architecture: all
Depends: ${misc:Depends},
 aptitude,
 bat,
 build-essential,
 colordiff,
 command-not-found,
 curl,
 dos2unix,
 elixir,
 fastfetch,
 git,
 gnupg,
 hx,
 inotify-tools,
 ipython3,
 jq,
 make,
 ncal,
 netcat-openbsd,
 nnn,
 openssh-client,
 python3,
 python3-pip,
 python3-venv,
 python3-isodate,
 ripgrep,
 rsync,
 strace,
 tealdeer,
 tmux,
 trash-cli,
 xz-utils,
Description: Configuration for development machines
 This package install packages needed for development.

Package: my-deb-workstation
Architecture: all
Depends: ${misc:Depends},
 console-setup,
 console-data,
 cryptsetup-bin,
 desktop-base,
 dkms,
 e2fsprogrs,
 fdisk,
 hunspell,
 hunspell-it,
 hunspell-en-gb,
 hunspell-en-us,
 hyphen-it,
 hyphen-en-gb,
 hyphen-en-us,
 djvulibre-bin,
 graphviz,
 alsa-utils,
 alacritty,
 calibre,
 feh,
 ffmpeg,
 firefox-esr,
 geogebra,
 gimp,
 gimp-data-extras,
 inkscape,
 inxi,
 k3b,
 kate,
 kile,
 latexmk,
 lm-sensors,
 lshw,
 mesa-utils,
 mesa-vulkan-drivers,
 mmdebstrap,
 netselect-apt,
 network-manager,
 nmap,
 okular,
 okular-extra-backends,
 pavucontrol,
 pciutils,
 pmount,
 poppler-utils,
 popularity-contest,
 python3-pandas,
 python3-sklearn,
 python3-statsmodels,
 python3-matplotlib,
 qrencode,
 rclone,
 sqlite3,
 sqlitebrowser,
 stterm,
 texlive-full,
 ucf,
 vlc,
 whiptail,
 wireguard-tools,
 wireless-tools,
 witalian,
 wodim,
 xclip,
 xdg-utils,
 xdotool,
 xinit,
 xorg,
Description: Configuration for workstations
 This package install packages needed for graphical workstation.

Package: my-deb-gaming
Architecture: all
Depends: ${misc:Depends},
 lutris,
 steam-installer,
 wine-stable,
 wine32,
 winetricks,
Description: Configuration for gaming
 This package install packages needed for gaming.

