Source: my-deb
Section: metapackages
Priority: optional
Maintainer: Marco Trevisiol <marco@trevisiol.casa>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2

Package: my-deb-base
Architecture: all
Depends: ${misc:Depends},
 less,
 bash-completion,
 htop
Description: Base configuration for my debian machines
 This package install basic packages always needed on my machines.
